.card-category-buttons {
    background-color: $main-button-color-inactive;
    border: 1px solid $main-button-color-inactive;
    border-radius: 4px;
    color: $white;
    font-size: $button-font-size;
    font-family: $main-font;
    height: $button-height;
    margin: 20px;
    padding: 10px;
    width: $main-button-width;
        &:hover {
            background-color: $main-button-color-active;
            box-shadow: $active-button-box-shadow;
            cursor: pointer;
            font-weight: 600;
        }
}