.card-container {
    background: rgba(19, 18, 30, 0.7);
    border-radius: 50px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    font-family: $container-header-font;
    margin: 40px 100px;
    padding: 60px;
}