.card-container {
    background: rgba(19, 18, 30, 0.7);
    border-radius: 50px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    font-family: $container-header-font;
    margin: 30px;
    padding: 50px 10px;
    justify-content: center;
}