//FONTS
$header-font: 'Orbitron', sans-serif;
$main-font: 'Roboto Condensed', sans-serif;

//COLORS
$main-button-color-inactive: #D9C4B1;
$main-button-color-active: #efe7df;
$active-button-box-shadow: #82756a;
