//FONTS
$header-font: 'Orbitron', sans-serif;
$main-font: 'Roboto Condensed', sans-serif;
$container-header-font: 'Glegoo', serif;

//COLORS
$main-button-color-inactive: #D9C4B1;
$main-button-color-active: #efe7df;
$active-button-box-shadow: #82756a;
$dark-blue: #1E1C30;
$dark-blue-active: #3B375E;
$white: #FFF;

