//FONTS
$header-font: 'Orbitron', sans-serif;
$main-font: 'Roboto Condensed', sans-serif;
$container-header-font: 'Glegoo', serif;

//COLORS
$main-button-color-inactive: #4A4576;
$main-button-color-active: #746CB9;
$active-button-box-shadow: #3B375E;
$dark-blue: #1E1C30;
$dark-blue-active: #2F2C4B;
$white: #FFF;
$card-color: #26233C;

//SIZING
$main-button-width: 250px;
$alternate-button-width: 150px;
$button-height: 50px;
$main-header-font-size: 65px;
$button-font-size: 15px;


