@import url('https://fonts.googleapis.com/css?family=Glegoo|Orbitron|Roboto+Condensed');
@import 'variables';
@import './components/App/App';
@import './components/Button/Button';
@import './components/Card/Card';
@import './components/CardContainer/CardContainer';
@import './components/Favorite/Favorite';
@import './components/Header/Header';
@import './components/Scroll/Scroll';


body {
  background-image: url('./assets/galaxy.jpg');
  margin: 0;
  padding: 0;
}

